<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

  <h1>{{.Name}}</h1>
  <h2>{{.Age}}</h2>

  {{if .TakeMeHome}}
    <h3>Take me down to the paradise city where the grass is green and the girls are pretty.</h3>
  {{else}}
    <h3>Sorry dude, it's not your time.</h3>
  {{end}}
</body>
</html>
